<!-- <h1>
  {{title}}
</h1>
<i class="fa fa-2x fa-star"></i>

<br><br>

<div class="container main-container">
  <app-clases></app-clases>
</div>

<br><br>

<div class="container main-container">
  <h1>Directivas * </h1>
  <hr> -->
  <!-- <p appResaltado>
    Hola a Todos
  </p> -->


  <!-- <p [appResaltado]="'orange'">
    Hola a Todos2
  </p>
</div>


<br><br>



<div class="container main-container">
  <h1>NgSwitch * </h1>
  <hr>

  <app-ng-switch></app-ng-switch>

</div>


<br><br> -->


<app-navbar></app-navbar>

<div class="container main-container">
  <h1>Rutas*</h1>
  <hr>

  <router-outlet></router-outlet>
</div>









